h1{
    text-align: center;
}
.contenedor{
    width: 600px;
    height: 615px;
    margin: auto;
    background-color: black;
    border:solid grey 10px;
    display: flex;
    flex-direction: column;
}

div {
    border: solid 1px black;
    text-align: center;
    justify-items: center;
    border-radius: 5px;
}

.resultados{
    flex-grow: auto;
    flex-shrink: 1;
    flex-basis: 1;
    height: 100px;
    text-align: right;
    background-color:beige;
    font-size: 35px;
    /* border: solid 3px black; */
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-right: solid 3px black;

}

.numeros-tier{
    flex-grow: auto;
    flex-shrink: 1;
    flex-basis: 1;
    height: 100px;
    text-align: right;
    background-color:black;
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

.acciones{
    flex-grow: 2.91;
    flex-grow: auto;
    flex-basis: 1;
    background-color:cornflowerblue;
}

.operaciones{
    flex: 1;
    background-color:coral;
}

.numeros{
    flex: 1;
    background-color:aquamarine;
}

.especiales{
    width: 297px;
    background-color: aquamarine;
    /* align-content: center; */
    /* justify-items: center; */
}
p{
    font-size: 30px;
}